.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* PRIMARY */
.btn-primary {
  background-color: #1976d2;
}

.btn-primary:hover {
  background-color: #115293;
}

/* DANGER */
.btn-danger {
  background-color: #d32f2f;
}

.btn-danger:hover {
  background-color: #9a0007;
}

/* SUCCESS */
.btn-success {
  background-color: #388e3c;
}

.btn-success:hover {
  background-color: #2e7d32;
}
